/* Add custom styles to the info button */
.oe_kanban_button_info {
    background-color: transparent; /* Transparent background */
    color: #90C0C3; /* Black text color */
    border: none; /* Remove border */
    font-size: 19px;
    cursor: pointer;
    text-align: left; /* Align text to the left */
    padding: 0; /* Remove padding */
    position: absolute; /* Use absolute positioning */
    bottom: -3px; /* Align to the bottom */
    left: -3px; /* Align to the left */
}

/* Style the button icon for info button */
.oe_kanban_button_info::before {
    content: "\f05a"; /* Unicode character for the "info" icon */
    font-family: FontAwesome; /* Assuming you're using FontAwesome for icons */
    margin-right: 5px; /* Add space between icon and text */
}

/* Style the affect button */
.oe_kanban_button_affect {
    background-color: transparent; /* Transparent background */
    color: #8391C1; /* Black text color */
    border: none; /* Remove border */
    font-size: 16px;
    cursor: pointer;
    text-align: right; /* Align text to the right */
    padding: 0; /* Remove padding */
    position: absolute; /* Use absolute positioning */
    bottom: 0; /* Align to the bottom */
    right: 80px; /* Align to the right */
}

/* Style the button icon for affect button */
.oe_kanban_button_affect::before {
    content: "\f0c0"; /* Unicode character for the "users" icon */
    font-family: FontAwesome; /* Assuming you're using FontAwesome for icons */
    margin-left: 5px; /* Add space between icon and text */
}

/* Style the third button to be to the right of the affect button */
.oe_kanban_button_affect_ctrl {
    background-color: transparent; /* Transparent background */
    color: #43E075; /* Black text color */
    border: none; /* Remove border */
    font-size: 16px;
    cursor: pointer;
    text-align: right; /* Align text to the right */
    padding: 0; /* Remove padding */
    position: absolute; /* Use absolute positioning */
    bottom: 0; /* Align to the bottom */
    right: 40px; /* Adjust the right position to push it to the right of the affect button */
}

/* Style the button icon for affect_ctrl button */
.oe_kanban_button_affect_ctrl::before {
    content: "\f002"; /* Unicode character for the "users" icon */
    font-family: FontAwesome; /* Assuming you're using FontAwesome for icons */
    margin-left: 5px; /* Add space between icon and text */
}

/* Style the third button to be to the right of the affect button */
.oe_kanban_button_affect_corr {
    background-color: transparent; /* Transparent background */
    color: #C70F25; /* Black text color */
    border: none; /* Remove border */
    font-size: 16px;
    cursor: pointer;
    text-align: right; /* Align text to the right */
    padding: 0; /* Remove padding */
    position: absolute; /* Use absolute positioning */
    bottom: 0; /* Align to the bottom */
    right: 0px; /* Adjust the right position to push it to the right of the affect button */
}

/* Style the button icon for affect_ctrl button */
.oe_kanban_button_affect_corr::before {
    content: "\f0ad"; /* Unicode character for the "users" icon */
    font-family: FontAwesome; /* Assuming you're using FontAwesome for icons */
    margin-left: 5px; /* Add space between icon and text */
}


/* Style the button container */
.button_container {
    position: relative; /* Make the container relative for absolute positioning of buttons */
    padding-top: 50px; /* Add padding to push the buttons down */
}

/* Style the "start_work" button */
.oe_kanban_button_start {
    background-color: transparent;
    color: #94E043;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-align: right;
    padding: 0;
}

/* Style the icon for the "start_work" button */
.oe_kanban_button_start::before {
    content: "\f04b"; /* Unicode character for the "play" icon in FontAwesome */
    font-family: FontAwesome; /* Assuming you're using FontAwesome for icons */
    margin-right: 1px; /* Add space between icon and text */
}

/* Style the Kanban Field Box */
.kanban_stage_prod {
    background-color: #3498db; /* Change the background color as desired */
    color: #373232; /* Text color */
    border-radius: 5px; /* Rounded corners */
    padding: 2px 5px; /* Adjust padding for spacing */
    display: inline-block; /* Inline-block to fit content */
    font-size: 12px; /* Adjust the font size to make it smaller */
    max-width: fit-content; /* Set the maximum width to fit content */
}

.kanban_stage_ctrl {
    background-color: #D9EE47; /* Change the background color as desired */
    color: #373232; /* Text color */
    border-radius: 5px; /* Rounded corners */
    padding: 2px 5px; /* Adjust padding for spacing */
    display: inline-block; /* Inline-block to fit content */
    font-size: 12px; /* Adjust the font size to make it smaller */
    max-width: fit-content; /* Set the maximum width to fit content */
}

.kanban_stage_corr {
    background-color: #EE8647; /* Change the background color as desired */
    color: #373232; /* Text color */
    border-radius: 5px; /* Rounded corners */
    padding: 2px 5px; /* Adjust padding for spacing */
    display: inline-block; /* Inline-block to fit content */
    font-size: 12px; /* Adjust the font size to make it smaller */
    max-width: fit-content; /* Set the maximum width to fit content */
}
