<odoo>

    <!--    main menus-->

    <menuitem id="menu_dashboard" name="My Dashboards" sequence="-1001"/>
    <menuitem id="menu_gest" name="Données de Base" sequence="-1000"/>
    <menuitem id="menu_project" name="Projets" sequence="-999"/>
    <menuitem id="menu_sale" name="Vente" sequence="-998"/>
    <menuitem id="menu_purchase" name="Achats" sequence="-997"/>
    <menuitem id="menu_rh" name="Ressources Humaines" sequence="-996"/>
    <menuitem id="menu_stat" name="Analyses et Statistiques" sequence="-995"/>
    <menuitem id="menu_tab_bord" name="Tableau de Bord Admin" sequence="-994"/>
    <menuitem id="menu_discuss" name="Messagerie" sequence="-993"/>
    <menuitem id="menu_conf" name="Configuration" sequence="-992"/>

    <!--    menu_dashboard submenus-->

    <menuitem id="menu_dash_task_pending" name="Mes Tâches Encours" parent="menu_dashboard" sequence="0"
              action="project_custom.action_dash_task_pending"/>
    <menuitem id="menu_dash_task_to_affect" name="Tâches à Planifier" parent="menu_dashboard" sequence="10"
              action="project_custom.action_dash_task_to_affect"/>
    <menuitem id="menu_dash_task_co_workers" name="Tâches de mes Collaborateurs" parent="menu_dashboard" sequence="20"
              action="project_custom.action_dash_task_co_workers"/>
    <menuitem id="menu_dash_task_to_treat" name="Tâches à Traiter" parent="menu_dashboard" sequence="30"
              action="project_custom.action_dash_task_to_treat"/>
    <menuitem id="menu_dash_task_pre" name="Tâches Prévisionnelles" parent="menu_dashboard" sequence="40"
              action="project_custom.action_dash_task_pre"/>

    <!--    menu_gest submenus-->

    <menuitem id="menu_home" name="Acceuil" parent="menu_gest" sequence="0"/>
    <menuitem id="menu_gest_data" name="Données de Gestion" parent="menu_gest" sequence="10"/>
    <menuitem id="menu_tech_data" name="Données Techniques" parent="menu_gest" sequence="20"/>

    <!--    ***** menu_gest_data submenus-->

    <menuitem id="menu_gest_data_general" name="Général" parent="menu_gest_data" sequence="0"/>
    <menuitem id="menu_gest_data_project" name="Project" parent="menu_gest_data" sequence="10"/>
    <menuitem id="menu_gest_data_sale" name="Vente" parent="menu_gest_data" sequence="20"/>
    <menuitem id="menu_gest_data_purchase" name="Achats" parent="menu_gest_data" sequence="30"/>
    <menuitem id="menu_gest_data_rh" name="RH" parent="menu_gest_data" sequence="40"/>
    <menuitem id="menu_gest_data_tb" name="Tableaux de Bord" parent="menu_gest_data" sequence="50"/>

    <!--    ********** menu_gest_data_general submenus-->

    <menuitem id="menu_product_category" name="Liste de Départements" parent="menu_gest_data_general" sequence="0"
              action="product_custom.action_product_category"/>
    <menuitem id="menu_localisation" name="Localisation" parent="menu_gest_data_general" sequence="10"/>

    <!--    ********** menu_gest_data_project submenus-->

    <menuitem id="menu_project_template_gest" name="Liste des Templates" parent="menu_gest_data_project" sequence="0"
              action="project_custom.action_project_template_gest"/>
    <menuitem id="menu_step" name="Liste des Etapes" parent="menu_gest_data_project" sequence="10"
              action="product_custom.action_step"/>
    <menuitem id="menu_kit" name="Liste des Kits" parent="menu_gest_data_project" sequence="20"
              action="product_custom.action_kit"/>
    <menuitem id="menu_product" name="Liste de services" parent="menu_gest_data_project" sequence="30"
              action="product_custom.action_product"/>
    <menuitem id="menu_project_type" name="Type de Projet" parent="menu_gest_data_project" sequence="70"
              action="project_custom.action_project_type"/>
    <menuitem id="menu_project_status" name="Type de Permis" parent="menu_gest_data_project" sequence="80"
              action="task_work.action_project_status"/>

    <!--    *************** menu_localisation submenus-->

    <menuitem id="menu_group" name="Régions" parent="menu_localisation" sequence="0"
              action="country_custom.action_group"/>
    <menuitem id="menu_region" name="Parcs et Municipalités" parent="menu_localisation" sequence="10"
              action="country_custom.action_region"/>
    <menuitem id="menu_country" name="Pays" parent="menu_localisation" sequence="20"
              action="country_custom.action_country"/>

    <!--    ********** menu_gest_data_rh submenus-->

    <menuitem id="menu_employee" name="Liste des Employés" parent="menu_gest_data_rh" sequence="0"
              action="employee_custom.action_employee"/>
    <menuitem id="menu_remuneration_av" name="Affectation Avancée Rémunération" parent="menu_gest_data_rh" sequence="50"
              action="employee_custom.action_remuneration_av"/>
    <menuitem id="menu_gest_weekend" name="Gestion des Weekends" parent="menu_gest_data_rh" sequence="80"/>

    <!--    *************** menu_gest_weekend submenus-->

    <!--    menu_project submenus-->

    <menuitem id="menu_project_create" name="Templates" parent="menu_project" sequence="0"
              action="project_custom.action_project_template"/>
    <menuitem id="menu_project_consult" name="Projets" parent="menu_project" sequence="10"
              action="project_custom.action_project"/>
    <menuitem id="menu_task" name="Activités" parent="menu_project" sequence="20"
              action="task_custom.action_task"/>
    <menuitem id="menu_work" name="Tâches" parent="menu_project" sequence="30"
              action="task_work.action_task_work"/>

    <!--    menu_sale submenus-->

    <menuitem id="menu_customer" name="Gestion des Clients" sequence="0" parent="menu_sale"
              action="partner_custom.action_customer"/>
    <menuitem id="menu_facture_partner" name="Factures Clients" sequence="20" parent="menu_sale"/>

    <!--    ***** menu_facture_partner submenus-->

    <menuitem id="menu_work_line" name="Bons à Facturer" sequence="0" parent="menu_facture_partner"
              action="task_work.action_work_line"/>

    <!--    menu_purchase submenus-->

    <menuitem id="menu_supplier" name="Gestion Fournisseurs" sequence="0" parent="menu_purchase"
              action="partner_custom.action_supplier"/>

    <!--    menu_rh submenus-->

    <menuitem id="menu_employee_b" name="Liste des Employés" parent="menu_rh" sequence="0"
              action="employee_custom.action_employee"/>
    <menuitem id="menu_cong" name="Congés" parent="menu_rh" sequence="30"/>
    <menuitem id="menu_gest_cong" name="Traitement Congés" parent="menu_rh" sequence="40"/>

    <!--    ***** menu_gest_cong submenus-->

    <menuitem id="menu_sol_employee" name="Solde Employés" parent="menu_gest_cong" sequence="40"/>
    <menuitem id="menu_sol_holiday" name="Congés" parent="menu_sol_employee" sequence="0"
              action="employee_custom.action_sol_holiday"/>
    <menuitem id="menu_sol_hours" name="Banque d'Heures" parent="menu_sol_employee" sequence="10"
              action="employee_custom.action_sol_hours"/>

    <!--    menu_stat submenus-->


    <!--    menu_tab_bord submenus-->


    <!--    menu_discuss submenus-->


    <!--    menu_conf submenus-->

    <menuitem id="menu_company" name="Sociétés" sequence="0" parent="menu_conf"
              action="company_custom.action_company"/>

</odoo>